*{
    margin:0;
    padding: 0;
    box-sizing:border-box; 
    text-align: center;
    background-color: beige
    
}
.clearfix:after {
    content:"";
    display:table;
    clear:both;
}
h1 {
    color:rgba(195, 20, 20, 0.62);
    font-size: 50px;
    font-family:fantasy;
    margin-bottom: 20px;
    text-align: center;
    }
h2 {
    color: #050583;
    font-size: 30px;
    font-family: cursive; 
    margin-bottom: 10px;
    
}
p { color: #015a5a;
    font-size: 15px;
    font-family: sans-serif;
}
. main {
    text-align: justify;
    margin-bottom: 20px;
    
}
#sponsor{
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 10px;
    
}

.container {
   width: 1140px;
    margin: 20px auto 0 auto;
}

.main-blog {
    width: 75% ;
    float:left;
    padding-right: 30px;
    padding-top: 30px;
    
}

.sponsor {
    padding-top: 40px;
    
}

.laura {

    width:25 % ;
    float:left;
    border-top:10px solid #5f5b5b;
    padding-top: 30px;
}
